- var title = 'Рублёвый платёж'

include parts/head.pug
body.initial
	.desktop
		include desktop/header.pug
	.mobile
		include mobile/header-payment.pug
		.wrapper
			include mobile/content-budget.pug
		include mobile/sms-popup.pug
include desktop/footer.pug
