.mobile {
	.form-group {
		margin: 24px 0;

		&:first-child {
			margin-top: 12px;
		}

		&__title {
			background: color($primary a(06%));
			position: relative;
			left: -12px;
			width: calc(100% + 24px);
			padding: 18px 12px 9px;
		}

		&__item {
			margin-top: 44px;

			&--select, &--radio {
				margin-top: 30px;
			}
		}

		.input input {
			width: 100%;
		}
	}

	.form {
		.button {
			margin-top: 30px;

			& + & {
				margin-top: 10px;
			}
		}
	}

	.fast-action {
		position: fixed;
		padding: 12px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: white;
		transition: transform $animatecool;
		box-shadow: 0 0 40px 0 rgba(11, 31, 53, .16);
		transform: translate(0, 100px);

		.button {
			margin: 0;
		}

		&--active {
			transform: translate(0, 0);
		}
	}

	.folder {
		margin: 40px 0;

		&__top {
			display: flex;
			align-items: center;
		}

		&__title {
			flex-grow: 1;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size: 11px;
		}

		&__icon {
			margin-right: 12px;
		}

		&__content {
			visibility: hidden;
			overflow: hidden;
			height: 0;
		}

		&--active & {
			&__arrow {
				transform: rotate(180deg);
			}

			&__content {
				visibility: visible;
				overflow: initial;
				height: initial;
			}
		}
	}
}
