@import 'vars.css';

.right {
	margin-top: 40px;
	width: calc(100% - 250px);
}

.title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 30px;
}

.tabs {
	position: relative;
	width: 100%;
	display: flex;
	margin-bottom: 45px;
	user-select: none;

	&__line {
		height: 1px;
		width: 100%;
		bottom: -12px;
		left: 0;
		background: rgba(34, 52, 72, .1);
		position: absolute;
	}

	&__current {
		height: 3px;
		width: 163px;
		bottom: -13px;
		left: 0;
		border-radius: 3px;
		position: absolute;
		background: $alfared;
		transition: width $animateout, left $animateout;

		&--2 {
			width: 87px;
			left: 186px;
		}
	}
}

.tab {
	font-size: 18px;
	transition: opacity $animateout;
	cursor: pointer;

	a {
		color: currentColor;
	}

	& + & {
		padding-left: 30px;
	}

	&-repeat {
		width: 163px;
	}

	&-templates {
		width: 87px;
	}

	&:hover {
		opacity: .5;
		transition: opacity $animatein;
	}

	&--active {
		color: $alfared;
		font-weight: bold;

		&:hover {
			opacity: 1;
		}
	}
}
