include parts/left.pug
.right
	.title #{title}
	
	.row.main-actions
		.main-action
			a(href="")
				img(src="images/icon_category_business__xl__white.svg").main-action__icon 
				.main-action__title В компанию
		.main-action
			a(href="")
				img(src="images/icon_category_state__xl__white.svg").main-action__icon 
				.main-action__title В бюджет
		.main-action
			a(href="")
				img(src="images/icon_tool_payment_to_self__xl__white.svg").main-action__icon 
				.main-action__title Физическому лицу
				
	.row.payments

		.tabs
			.tabs__tab.tab.tab--active.tab-repeat
				a Повторить платёж
			.tabs__tab.tab.tab-templates
				a Шаблоны
			.tabs__line
			.tabs__current

		.payments-lists.payments-lists--repeat
			.payments-list
				.payment-list__title.medium-up Вчера
				a(href="").payment-single.payment--budget
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
			.payments-list
				.payment-list__title.medium-up 29 июня
					span.payment-list__title-day , СР
				a(href="").payment-single.payment--company
					.payment-single__icon 
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
			.payments-list
				.payment-list__title.medium-up 27 июня
					span.payment-list__title-day , ПН
				a(href="").payment-single.payment--budget
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
		.payments-lists.payments-lists--templates
			.payments-list
				a(href="").payment-single.payment--budget
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
		.filters
			.medium-up Фильтры
			.filter
				.semi-title Тип получателя
				select.select
					option(selected=true) Все
					option В компанию
					option Физическому лицу
					option В бюджет
				.input.input-date
					input(type="text").input-text
					.input__desc Дата документа
