include parts/left.pug
.right
	.title #{title}
	
	.row.main-actions
		.main-actions__title Создать
		.main-action
			a(href="")
				img(src="images/icon_category_business__xl__white.svg").main-action__icon 
				.main-action__title В компанию
		.main-action
			a(href="")
				img(src="images/icon_tool_payment_to_self__xl__white.svg").main-action__icon 
				.main-action__title Физическому лицу
		.main-action
			a(href="")
				img(src="images/icon_category_state__xl__white.svg").main-action__icon 
				.main-action__title В бюджет
				
	.row.payments
		.nav-tabs.row__block11
			.nav-tabs__tab.nav-tabs__tab--active Повторить платёж
			.nav-tabs__tab Шаблоны
		.payments-lists
			.payments-list
				.payment-list__title.medium-up Вчера
				a(href="").payment-single.payment--budget
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
			.payments-list
				.payment-list__title.medium-up 29 июня
					span.payment-list__title-day , СР
				a(href="").payment-single.payment--company
					.payment-single__icon 
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
			.payments-list
				.payment-list__title.medium-up 27 июня
					span.payment-list__title-day , ПН
				a(href="").payment-single.payment--budget
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
				a(href="").payment-single.payment--person
					.payment-single__icon
					.payment-single__info
						.payment-single__title АО «Ромашка»
						.payment-single__number ··5673
					.payment-single__sum 12 000
		.filters
			.medium-up Фильтры
			.filter
				.semi-title С какого счёта
				select.select
					option(selected=true) Все
					option Семья
				.input.input-date
					input(type="text").input-text
					.input__desc Дата документа
