.notification
	.notification__icon
	.notification__message
		.notification__title Операция прошла успешно
		.notification__desc
	.button.button-submit.button--grey.button--disabled Подписать платёж
	.button.button-submit.button--transparent Сохранить
