.form
	.form-group
		.form-group__title.medium-up Получатель
		.form-group__item.input.input-receiver 
			input(type="text").input-text
			.input__desc Наименование получателя
		.form-group__item.input.input-inn
			input(type="number",pattern="[0-9]*",inputmode="numeric").input-text
			.input__desc ИНН
		.form-group__item.input.input-kpp
			input(type="number",pattern="[0-9]*",inputmode="numeric").input-text
			.input__desc КПП
		.form-group__item.input.input-account
			input(type="number",pattern="[0-9]*",inputmode="numeric").input-text
			.input__desc Счёт
		.form-group__item.input.input-bik
			input(type="number",pattern="[0-9]*",inputmode="numeric").input-text
			.input__desc БИК

	.form-group
		.form-group__title.medium-up Реквизиты платежа
		.form-group__item.input.input-sum
			input(type="number",pattern="[0-9]*",inputmode="numeric").input-text
			.input__desc Сумма платежа
		.form-group__item.input.input-towhom
			input(type="text").input-text
			.input__desc Назначение платежа
		.form-group__item.form-group__item--select
			.semi-title НДС
			select.select.select-common
				option(selected=true) Не облагается
				option Облагается
		.form-group__item.form-group__item--radio
			.semi-title Срочность платежа
			.radio
				input(for="promptness-standard-mobile" checked="true" type="radio" name="promptness-mobile").radio__input#promptness-standard-mobile
				label(for="promptness-standard-mobile").radio__label Стандартно
			.radio
				input(for="promptness-today-mobile" type="radio" name="promptness-mobile").radio__input#promptness-today-mobile
				label(for="promptness-today-mobile").radio__label Сегодня
			.radio
				input(for="promptness-hurry-mobile" type="radio" name="promptness-mobile").radio__input#promptness-hurry-mobile
				label(for="promptness-hurry-mobile").radio__label Срочно
		.form-group__item.form-group__item--select
			.semi-title Очерёдность платежа
			select.select.select-common
				option 1
				option 2
				option 3
				option 4
				option(selected=true) 5
			.info
				.info__wrapper
					.info__icon.icon.icon24.icon--info
					.info__title Подробнее
				.info__content Приоритет выполнения платежа. 1 — самый приоритетный, 5 — наименее приоритетный
				
	.folder
		.folder__top
			.folder__icon.icon.icon24.icon--add
			.folder__title Дополнительные параметры
			.folder__arrow.icon.icon24.icon--dropdown-black
		.folder__content
			.form-group
				.form-group__item.input.input-date
					input(type="text").input-text
					.input__desc Дата документа
				.form-group__item.input
					input(type="text").input-text
					.input__desc Код
				.form-group__item.input.input-date
					input(type="text").input-text
					.input__desc Отправить не ранее
					
	.folder
		.folder__top
			.folder__icon.icon.icon24.icon--notification
			.folder__title Уведомления
			.folder__arrow.icon.icon24.icon--dropdown-black
		.folder__content
			.form-group
				.form-group__item.input
					input(type="text").input-text
					.input__desc Эл. почта или номер
					.info
						.info__wrapper
							.info__icon.icon.icon24.icon--info
							.info__title Подробнее
						.info__content На указанные почтовые адреса буду высланы платёжные поручения и уведомления на телефон
	
	.fast-action
		.button.button-submit.button--disabled Отправить в банк
	
	.button.button-submit.button--disabled Отправить в банк
	.button.button-submit.button--grey.button--disabled Подписать платёж
	.button.button-submit.button--transparent Сохранить

.suggest.suggest-top
	.suggest-top__close
		
.suggest.suggest-bottom
	.suggest-list
		.suggest-single.suggest--company
			.suggest-single__icon
			.suggest-single__info
				.suggest-single__title Вася Петров
				.suggest-single__number ··2133
		.suggest-single.suggest--recent
			.suggest-single__icon
			.suggest-single__info
				.suggest-single__title Петя Васин
				.suggest-single__number ··9613
		.suggest-single.suggest--recent
			.suggest-single__icon
			.suggest-single__info
				.suggest-single__title Маша Ермолаева
				.suggest-single__number ··5673
		.suggest-single.suggest--recent
			.suggest-single__icon
			.suggest-single__info
				.suggest-single__title Маша Ермолаева
				.suggest-single__number ··5673
