.row.row-overlap.row-body.repeat
	.row__favorites
	.row__title.medium-up Повторить платёж
	.payments-list
		.payments-list__title.medium-up Вчера
		a(href="").payment-single.payment--budget
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
		a(href="").payment-single.payment--person
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
	.payments-list
		.payments-list__title.medium-up 29 июня
			span.payments-list__title-day , СР
		a(href="").payment-single.payment--company
			.payment-single__icon 
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
	.payments-list
		.payments-list__title.medium-up 27 июня
			span.payments-list__title-day , ПН
		a(href="").payment-single.payment--budget
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
		a(href="").payment-single.payment--person
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
#templates.row.row-overlap.row-body.templates
	.row__title.medium-up Шаблоны
	.payments-list
		a(href="").payment-single.payment--budget
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
		a(href="").payment-single.payment--person
			.payment-single__icon
			.payment-single__info
				.payment-single__title АО «Ромашка»
				.payment-single__number ··5673
			.payment-single__sum 12 000
