header.header
	.wrapper
		.row.top-bar
			a.avatar(href="/")
				.avatar__logo
				.avatar__logo-menu Меню
			.myself
				.myself__messages
				.myself__notifications
				.myself__name Котики
		.row.main-actions
			.main-actions__title.medium-up Переводы
			.main-actions__list
				.main-action
					a(href="company.html")
						img(src="images/icon_category_business__xxl__white.svg").main-action__icon 
						.main-action__title В компанию
				.main-action
					a(href="budget.html")
						img(src="images/icon_category_state__xxl__white.svg").main-action__icon 
						.main-action__title В бюджет
				.main-action
					a(href="person.html")
						img(src="images/icon_category_user__xxl __white.svg").main-action__icon 
						.main-action__title Физическому лицу
