header.header.header-payment
	.wrapper
		.row.top-bar
			a.avatar(href="/")
				.avatar__logo
				.avatar__logo-menu Меню
			.myself
				.myself__messages
				.myself__notifications
				.myself__name Котики
		.row.current-payment
			.current-payment__title #{title}
			.current-payment__number 1424
			a.icon.icon24.icon--more.current-payment__more
		.row.current-schet
			.number
				span.currentAccountSum 62 328
				span.number__grey ,55 ₽
			.desc Текущий счёт ··4576
			a.icon.icon24.icon--dropdown
