.notification
	.notification__icon
	.notification__message
		.notification__title
		.notification__desc
	.form
		.button.button-submit.button--grey Подписать платёж
		.button.button-submit.button--transparent Сохранить
