.left
	.left__menu.menu
		.menu__item 
			a(href="") Главная
		.menu__item
			a(href="") Платежи и переводы
		.menu__submenu
			.menu__submenu-item.menu__submenu-item--active
				a(href="") Новый платёж
			.menu__submenu-item
				a(href="") Платежи в работе
			.menu__submenu-item
				a(href="") Заявление на наличные
		.menu__item
			a(href="") Текущая деятельность
		.menu__item
			a(href="") Общение с банком
		.menu__item
			a(href="/") Профиль
		.menu__item
			a(href="") Мои компании
		.menu__item
			a(href="") Услуги
